<html>
    <head>
        <title>To Do List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/../main.css">
    </head>
    <body>
        <div class="container">
            <h2>Categories</h2>
            {% if categories is not empty %}
                <p>Here are all your categories:</p>
                <ul class="list-group">
                    {% for category in categories %}
                        <li class="list-group-item"><a href="/categories/{{ category.getId }}">{{ category.getCategoryName }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}

            <div class="submit-form">
                <form action='/categories' method='post'>
                    <label for='name'>Category Name</label>
                    <input id='name' name='name' type='text'>

                    <button class="btn btn-default" type='submit'>Add Category</button>
                </form>

                <form action='/delete_categories' method='post'>
                    <button class="btn btn-default" type='submit'>Clear</button>
                </form>
            </div>
            <p><a href='/'>Home</a></p>
        </div>
    </body>
</html>
